@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: DejaVuSansM Nerd Font Mono;
  font-size: 16px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px 0;
}

#workspaces {
  background: @base;
  border-radius: 8px;
  margin: 5px 5px 0;
}

#workspaces button {
  color: @text;
  border-color: @base;
  border-radius: 8px;
  border-width: 2px;
  padding: 0.5rem;
}

#workspaces button.active {
  border-color: @sapphire;
}

#workspaces button:hover {
  color: @base;
  background: @sky;
  border-color: @sky;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#backlight,
#tray {
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 5px 0 0;
}

#clock {
  border-radius: 8px;
}

#cpu {
  color: @pink;
  border-radius: 8px 0 0 8px;
  margin-left: 5px;
  margin-right: 0;
}

#memory {
  color: @maroon;
}

#pulseaudio {
  color: @peach;
}

#backlight {
  color: @yellow;
}

#memory,
#pulseaudio,
#backlight {
  border-radius: 0;
}

#battery {
  color: @green;
  border-radius: 0 8px 8px 0;
  margin-right: 5px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

@keyframes blink {
  to {
    color: @sapphire;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
